__pycache__/
templates/
*.py[cod]
*.so
*.egg-info/
*.pyo
*.pyd

venv/
.env
.idea/
.env/
.venv/
.vscode/
env/
conda_env/
benchmark_output/
logs/
*.log
*.tmp
*.cache
OLLibarary/
models/
*.onnx
*.h5
*.pt
*.ckpt

audiofiles/
transcription_archives/
output/
*.wav
*.mp3
*.flac
*.opus
*.m4a
*.aac
*.ogg

.DS_Store
Thumbs.db
desktop.ini

*.config
*.ini


node_modules/
package-lock.json
pip-log.txt
pip-delete-this-directory.txt

.ipynb_checkpoints/

config.py
open-webui/